<!-- editar_moeda.html -->
{% extends 'sidebar.html' %}

{% block conteudo %}
{% if user.username == 'admin' %}

<div style="padding: 150px;">
    <div class="card text-bg-light" style="padding-bottom: 10px; width: 450px; border-color: #f8f9fa; ">
        <h2 style="text-align: center;">Cadastro de Moeda</h2>
        <main class="form-signin m-auto" style="width: 350px; align-items: center; padding-top: 5px; ">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.MOEDA.id_for_label }}">Moeda:</label>
                    <input type="text" class="form-control" id="{{ form.MOEDA.id_for_label }}"
                        name="{{ form.MOEDA.html_name }}" value="{{ form.MOEDA.value|default_if_none:'' }}"
                        placeholder="Digite a moeda">
                    <span class="error">{{ form.MOEDA.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="{{ form.VALOR.id_for_label }}">Valor:</label>
                    <input type="text" class="form-control" id="{{ form.VALOR.id_for_label }}"
                        name="{{ form.VALOR.html_name }}" value="{{ form.VALOR.value|default_if_none:'' }}"
                        placeholder="Digite o valor">
                    <span class="error">{{ form.VALOR.errors }}</span>
                </div>
                <div style="padding-top: 10px;" class="d-flex ">
                    <div>
                        <button type="submit" class="btn btn-dark">Salvar Alterações</button>
                    </div>
                    
                </div>
            </form>
        </main>
    </div>
</div>

{% endif %}
{% endblock %}